0907/__pycache__/server.cpython-311.pyc
.env
image_to_copus__gpt4o copy.json
image_to_copus__gpt4o.json
0527/LLM RAG Langchain카톡내용.csv
0602/.DS_Store
0602/스크린샷 2024-06-02 오후 10.16.10.png
0602/스크린샷 2024-06-02 오후 10.16.15.png
0724/.DS_Store
0724/data/KakaoTalk_Photo_2024-07-24-21-44-11.png
0602/.DS_Store
0907/__pycache__/server.cpython-310.pyc
